body {
    background-color: #1a1a2e;
    margin: 0;
}

.top-bar span a {
    font-size: 25px;
    font-weight: 900;
    color: rgb(230, 53, 82);
}

.top-bar span {
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.nav-links {
    margin: 0;
    padding: 0;
}

.nav-links li {
    float: left;
}

.nav-link {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-bar {
    display: flex;
    border-bottom: 2px solid #3232bc;
    justify-content: space-between;
    background-color: #33335b;
    padding: 10px;
    margin: 0;
}

.footer {
    border: 1px solid;
    text-align: center;
}

.content {
    text-align: center;
    border: 1px solid;
}

.project {
    border: 1px solid;
}

.skill {
    border: 1px solid;
}

.connect-links li {
    border: 1px solid;
}
