@media (max-width: 380px){
    header {
        flex-direction: column;
        align-items: center;
    }

    html {
        scroll-padding-top: 100px;
    }
}

body {
    font-family: 'Alan Sans', sans-serif;
}

html {
    scroll-padding-top: 80px;
}  